<h1>My Recipes</h1>
<hr>
<div class="text-right">
    <a ng-href="#/recipes/new" class="btn btn-lg btn-success">New Recipe</a>
</div>

<div class="media" ng-repeat="recipe in recipes">
    <a class="pull-left" href="#">
        <img class="media-object" src="http://placehold.it/64x64" alt="">
    </a>
    <div class="media-body linkable" ng-click="view(recipe.id)">
        <h4 class="media-heading">{{recipe.title}}
            <small>{{recipe.created_at | date :  "dd/MM/yyyy h:mm a " }}</small>
        </h4>
        {{recipe.content | limitTo: 100}}
    </div>
</div>